*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 20px;
    margin: auto;
    width: 300px;
}
caption{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
tr > th{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(159, 159, 159);
    padding: 9px;
}
tr > th:last-child{
    background-color: red;
}
tbody> tr > td:nth-child(7) {
    background-color: rgb(246, 166, 166);
}
tbody > tr > td{
    padding: 9px;
    text-align: center;
    border: 1px solid black;
}
tfoot > tr >td{
    padding-top: 5px;
}
#jan, #Feb{
    width: 300Px;
    height: 260px;
    
}
.right{
    /* width: 40Px; */
    text-align: right;
    display: inline;
}
.center{
    display: inline;
}
.left{
    /* width: 40px; */
    text-align: left;
    display: inline;
   
}
